.hero {
  background: #c0392b;
  color: white;
  height: 22em;
  padding: 1em;
}

.hero>h2 {
  font-size: 3em;
  text-align: center;
}

.button-cta {
    font-size: 1.4em!important;
    background: #1D1D29!important;
    color: white!important;
    font-weight: bold;
}

.button-cta:active {
  background-color: #1D1D29;
}


.secondary-action {
  padding-top: 2em;
}

.secondary-action>button {
  background: #EF5C54;
  color: white;
}

section.description>.description-header{
  margin-top: 2em;
  padding-bottom: 0.5em;
}

section.description>.description-header>a{
 background-color: #9C9C9C;
 font-weight: 100;
}

section.description>.description-subheader{
  font-size: 1.8em;
  color: #C0392B;
  font-weight: 100;
}

section.description {
  margin-bottom: 1em;
}

section.description>.steps{
  margin-top: 1em;
}
section.description>.steps>.step{}


section.description>.steps>.step>.step-number{
  margin: 0;
  font-size: 2em;
  color: #9E373B;
}

section.description>.steps>.step>.emoji {
  background: #FFD9DD;
  font-size: 3em;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}